.bg-gray{
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
    padding-top: 8px;
}

.programas{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 8px;
    padding: 8px;
}
.programas .ajustar{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    gap: 7px;
    padding: 5px;
    max-height: 500px;
}
.programas .ajustar:hover{
    background-color: rgb(232, 241, 244);
}
.programas .ajustar .sobretexto{
    white-space: normal;
    overflow-y: auto;
}
.imagen{
    height: 200px;
    width: 100%;
}
.imagen img{
    width: 100%;
    height: 100%;
}