:root{
  --tamañoIcons: 75px;
  --SubIcons: 50px;
  --num:12;
}

.fondo{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.fondo img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.menu .proyectos a.disabled{
  pointer-events: none;
  background: var(--clr);
  color: gray;
}

.menu{
  position: relative;
  width: 100%;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.menu .toggle{
  position: absolute;
  width: var(--tamañoIcons);
  height: var(--tamañoIcons);
  background:linear-gradient(135deg, #150339, blue);
  border: 2px solid #fff;
  border-radius: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 3;
  font-size: 2em;
  transition: 1.25s;
}

.menu .proyectos{
  position: absolute;
  transition: .5s;
  width: var(--SubIcons);
  height: var(--SubIcons);
  border: 1px solid var(--clr);
  list-style: none;
  border-radius: 100%;
  transition-delay: calc(0.1s * var(--i));
}

.menu .proyectos a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--SubIcons);
  height: var(--SubIcons);
  color: var(--clr);
  border: 2px solid var(--clr);
  border-radius: 100%;
  font-size: 1.5em;
  transform: rotate(calc(360deg / -12 * var(--i)));
  transition: 1s;
}

.menu .proyectos a:hover{
  transition: 0s;
  background: var(--clr);
  box-shadow: 0 0 10px var(--clr), 0 0 30px var(--clr), 0 0 50px var(--clr);
  color: #333;
}

.menu.active .toggle{
  transform: rotate(345deg);
}

.menu.active .proyectos{
  transform: rotate(calc(360deg / 12 * var(--i))) translateX(-130px);
}

p{
  font-size: 4rem;
  line-height: 2;
}
