.bg-programas{
    background-color: #39a900;
    padding-top: 8px;
}

nav{
    z-index: 20;
    background-color: rgb(255, 255, 255);
}

.mapa{
    min-height: 300px;
    height:100vh;
}

.programas{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 8px;
}
.programas .ajustar{
    height: 600px;
    margin: 3px;
}

.programas .ajustar h2{
    padding: 0;
    margin: 0;
    height: 10%;
}

.programas .ajustar:hover{
    background-color: rgb(232, 241, 244);
}

.programas .ajustar .sobretexto{
    padding: 4px;
    margin: 0;
    height: 40%;
    white-space: pre-line;
    overflow-y: auto;
}

.programas .ajustar .boton{
    height: 10%;
}

.imagen{
    height: 40%;
    width: 100%;
}
.imagen img{
    width: 100%;
    height: 100%;
}

.texto-prueba{
    font-family: "Roboto","Arial",sans-serif;
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: 500;
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
}