:root{
  --tamañoIcons: 75px;
  --SubIcons: 50px;
  --num:12;
}

.fondo{
  background: url(../images/fondo3.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.disabled{
  pointer-events: none;
}

.menu{
  position: relative;
  width: 100%;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.menu .toggle{
  position: absolute;
  width: var(--tamañoIcons);
  height: var(--tamañoIcons);
  background:linear-gradient(135deg, #150339, blue);
  border: 2px solid #fff;
  border-radius: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 3;
  font-size: 2em;
  transition: 1.25s;
}

.menu .proyectos{
  position: absolute;
  transition: .5s;
  width: var(--SubIcons);
  height: var(--SubIcons);
  border: 1px solid var(--clr);
  list-style: none;
  border-radius: 100%;
  transition-delay: calc(0.1s * var(--i));
}

.menu .proyectos a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--SubIcons);
  height: var(--SubIcons);
  color: var(--clr);
  border: 2px solid var(--clr);
  border-radius: 100%;
  font-size: 1.5em;
  transform: rotate(calc(360deg / -12 * var(--i)));
  transition: 1s;
}

.menu .proyectos a:hover{
  transition: 0s;
  background: var(--clr);
  box-shadow: 0 0 10px var(--clr), 0 0 30px var(--clr), 0 0 50px var(--clr);
  color: #333;
}

.menu.active .toggle{
  transform: rotate(345deg);
}

.menu.active .proyectos{
  transform: rotate(calc(360deg / 12 * var(--i))) translateX(-130px);
}
/* 




  .tooltip{
    font-weight: normal;
    color: green;
    text-decoration: none;
    position: relative;
  }

  .tooltip:hover{
    text-decoration: underline;
  }

  .proyectos:hover .tooltip-box{
    display: inline-block;
  }

  .tooltip-box{
    display: none;
    position: absolute;
    line-height: 20px;
    z-index: 500;
    color: #000;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px ;
    -webkit-border-radius: 5px ;
    -moz-border-radius: 5px ;
    -ms-border-radius: 5px ;
    -o-border-radius: 5px ; 
    left: 50px;
    right: 50px;
    bottom: 80px;
}

.tooltip-box::after{
     content: "";
     display: block;
     border-top: 7px solid forestgreen;
     border-left: 7px solid transparent;
     border-right: 7px solid transparent;
     position: absolute;
     bottom: -7px;
    left: calc(50% - 7px);
}

.proyectos1{
    position: absolute;
    line-height: 20px;
    z-index: 500;
    color: #000;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px ;
    -webkit-border-radius: 5px ;
    -moz-border-radius: 5px ;
    -ms-border-radius: 5px ;
    -o-border-radius: 5px ; 
    left: 0;
    right: 0;
}

.tooltip{
    font-weight: normal;
    color: green;
    text-decoration: none;
    position: relative;
  }

  .tooltip:hover{
    text-decoration: underline;
  }

  .proyectos1:hover .tooltip-box{
    display: inline-block;
  }

  .tooltip-box{
    display: none;
    position: absolute;
    line-height: 20px;
    z-index: 500;
    color: #000;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px ;
    -webkit-border-radius: 5px ;
    -moz-border-radius: 5px ;
    -ms-border-radius: 5px ;
    -o-border-radius: 5px ; 
    left: 50px;
    right: 50px;
    bottom: 80px;
}

.tooltip-box::after{
     content: "";
     display: block;
     border-top: 7px solid forestgreen;
     border-left: 7px solid transparent;
     border-right: 7px solid transparent;
     position: absolute;
     bottom: -7px;
    left: calc(50% - 7px);
} */