.blue{
    background-color: #39a900;
    border: 5px solid rgb(0, 0, 0);
}
.lil{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.lul{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.lol{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.lel{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.lyl{
    color: rgb(36, 172, 36);
    font-family: Georgia, 'Times New Roman', Times, serif;
}