.blue{
    background-color: #39a900;
    border: 5px solid rgb(0, 0, 0);
    
}
.pr{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
hr{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.uy{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.ln{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pi{
    color: rgb(36, 172, 36);
    font-family: Georgia, 'Times New Roman', Times, serif;;
      
}
